name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Use Node.js 20.x
      uses: actions/setup-node@v3
      with:
        node-version: 20.x
        cache: 'npm'
    
    - name: Install dependencies
      run: npm ci
    
    - name: Build
      run: npm run build
    
    - name: Package extension
      run: npx @vscode/vsce package
    
    - name: Get version from tag
      id: tag_name
      run: echo "CURRENT_VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT
    
    - name: Create GitHub Release
      uses: softprops/action-gh-release@v1
      with:
        files: '*.vsix'
        generate_release_notes: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    
    - name: Publish to VS Code Marketplace
      if: success()
      run: npx @vscode/vsce publish -p ${{ secrets.VSCE_TOKEN }}
      continue-on-error: true
    
    - name: Publish to Open VSX
      if: success()
      run: npx ovsx publish -p ${{ secrets.OVSX_TOKEN }}
      continue-on-error: true
